{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

<section class="evenement-component">
  <h1 class="title white">Murmur issy 2020</h1>
  <main class="main-content">
    <div class="container-fluid photos">
      <div class="row align-items-stretch evenement-wrapper-component">
        <div class="grid-item">
          <li class="d-block photo-item">
            <img src="{% static "images/events/murmurISSY2020/murmurIssy1.jpg" %}" alt="Murmur 1" height="100" width="100" />
          </li>
        </div>
        <div class="grid-item">
          <li class="d-block photo-item">
            <img src="{% static "images/events/murmurISSY2020/murmurIssy2.jpg" %}" alt="Murmur 2" height="100" width="100" />
          </li>
        </div>
        <div class="grid-item">
          <li class="d-block photo-item">
            <img src="{% static "images/events/murmurISSY2020/murmurIssy3.jpg" %}" alt="Murmur 3" height="100" width="100" />
          </li>
        </div>
      </div>
    </div>
  </main>
</section>
{% endblock %}