@import "bootstrap";
@import "variables";
@import "fonts";


@import "modules/header-component";
@import "modules/footer-component";
@import "libs/slick";
@import "modules/main-btn-component";
@import "modules/title-component";
@import "modules/home-component";
@import "modules/sponsor-component";
@import "modules/dcc-component";

body {
  background: #fff;
}

* {
  font-size: 100%;
  font-family: "Noto Sans JP", sans-serif;
 }

@media (min-width: 1600px) {
  .container{
      max-width: 1400px;
  }
}