.dcc-component{
padding-top:100px;
background-color: $color-brand;
background-size: cover;
background-position: center bottom;
height: 600px;

    @include max-screen(1000px){
        height: auto;
    }

    .row{
        align-items: center;

        @include max-screen(1000px){
            flex-direction: column-reverse;
        }
    }
    .banner-title{
        color:#fff;
        padding: 80px 0;

        @include max-screen(1000px){
            padding: 20px; 
        }
        .wrapper-title{
            display: flex;
            flex-direction: column-reverse;

            h2{
                font-size: 3.5rem;
                font-weight: 700;
                padding-bottom: 15px;

                @include max-screen($mobile){
                    font-size: 1.9rem;
                }
            }

            h1{
                font-size: 2.1rem;
                font-weight: 400;

                @include max-screen($mobile){
                    font-size: 1.5rem;
                }
            }
        }
        .wrapper-btn{
            display: flex;
            flex-wrap:wrap;
        }
        .main-btn-component{
            margin-top: 40px;
            margin-right: 40px;
            width: 180px;
        }
    }
    .banner-image{
        display: block;
        text-align: center;   

        @include max-screen(1000px){
            width:40%;
        }

        @include max-screen($phone){
            width:70%;
            margin-top: 20px;
        }
        }
    }

    .description-dcc-component{
    padding: 60px 0;
    .row{
        align-items: center;
        margin: auto;

        @include max-screen($small){
            flex-direction: column;

            div{
                max-width: 100%;
            }
        }

        p{
            font-size: 1.245rem;
            margin: 0 20px;
            text-align: center;
        }
        
        }
    }

    .last-video-dcc-component{
    text-align: center;
    margin: 60px 0 ;

    .container{
        text-align: center;
    }

    div{
        iframe{
            margin: 30px 0;
            border: none;
            width: 700px;
            height: 500px;
            border-radius: 10px;

            @include max-screen($mobile){
                width: 350px;
                height: 200px;
            }

            @include max-screen($phone){
                width: 300px;
                height: 150px;
            }
        }
    }
}