.galerie-component{
    background-color: $color-brand;
    padding-top: 120px;
    text-align: center;
    height: auto;

    .title{
        margin-bottom: 30px;
        color: #fff;
    }
    

    .grid-item{

        .photo-item{
            list-style: none;
        }
        width: 32%;
        margin: 0 5px;
        img{
            width: 100%;
            object-fit: cover;
            margin-bottom: 10px;
        }

        p{
            color: #fff;
        }
    }
}
