.palmares-component{
    padding: 20px 0;

    .wrapper-palmares{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
        flex-direction: row;

        @include max-screen($small){
            flex-direction: column-reverse;
        }

        .main-content{
            width: 40%;

            @include max-screen($small){
                width: 100%;
                margin-bottom: 20px;
            }

            .title-palmares{
                font-size: 2rem;
                position: relative;
                display: inline-block;
                min-width: 135px;
                text-align: center;
                padding-bottom: 20px;
                margin-left: 100px;

                @include max-screen($small){
                    font-size: 1.5rem;
                    margin-top: 10px;
                }


                &:before{
                    position: absolute;
                    left: 0;
                    top: -50%;
                    content: "";
                    background-image: url("/static/ic/trophy.svg");
                    display: block;
                    width: 100px;
                    height: 100px;
                    background-repeat: no-repeat;
                    margin-left: -100px;

                    @include max-screen($small){
                        top: -80%;
                    }
                }
            }

            .date{
                margin-left:0px;
                font-size: 1.5em;

                @include max-screen($small){
                    font-size: 1rem;
                }
            }

            .single-menber-palmares{
                display: flex;
                margin: 10px 0;

                p{
                    margin: 0;
                }

                .name{
                    color: $color-yellow;
                    margin-right: 10px;
                }
            }
        }

        .main-image{
            width: 60%;

            @include max-screen($small){
                width: 100%;
                margin-bottom: 30px;
            }

            img{
                max-width: 70%;
                display: block;
                margin-left: auto;
                border-radius: 10px;

                @include max-screen($small){
                    margin: auto;
                }
            }
        }

        &.inverse{
            flex-direction: row-reverse;

            @include max-screen($small){
                flex-direction: column-reverse;
                margin-bottom: 20px;
            }

            .main-image{
                img{
                    margin-right: auto;
                    margin-left: 0;

                    @include max-screen($small){
                        margin: auto;
                    }
                }
            }
        }
    }
}