{% load static %}
<!DOCTYPE html>
<html lang="fr">
    {% include 'layouts/head.html' %}
<body>
    
    {% include 'layouts/header.html' %}
    {% block content %}{% endblock %}
    {% include 'layouts/footer.html'%}

    {% block script %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="module" src="http://127.0.0.1:8080/static/main.js"></script>
    <script type="module" src="{% static '/main.js' %}"></script>
    {% endblock %}
</body>
</html>