{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        {# <link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials"> #}
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1b1b3e">
        <meta name="msapplication-TileColor" content="#1b1b3e">
        <meta name="theme-color" content="#ffffff">
        
        <link rel="icon" href="{% static "images/logoNoir.jpg" %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link href="{% static 'fonts/NotoSansJP-Medium.otf' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static '/app.css' %}"><link>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700" rel="stylesheet">
    </head>
<body class="{% block bodycss %}{% endblock %}">
    
    {% include 'layouts/header.html' %}
    {% block content %}{% endblock %}
    {% include 'layouts/footer.html'%}

    {% block script %}
    <script type="text/javascript" src="{% static '/main.js' %}"></script>
    <script type="text/javascript" src="http://127.0.0.1:8080/static/main.js"></script>
    {% endblock %}
</body>
</html>