{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="theme-color" content="#ffffff">
        <meta name="turbolinks-cache-control" content="no-cache">
        {% block meta %} {% endblock %}
        <link rel="icon" href="{% static "images/logoNoir.jpg" %}">
        <link rel="stylesheet" href="{% static '/app.css' %}"><link>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JQ2D6GT3HS"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-JQ2D6GT3HS');
        </script>
        <script defer src="{% static '/main.js' %}"></script> 
    </head>
    <body {% block bodyconf %}{% endblock %} class="on-top {% block bodycss %}{% endblock %}">
         <div id="loader">
            <div id="d1"></div>
            <div id="d2"></div>
            <div id="d3"></div>
            <div id="d4"></div>
            <div id="d5"></div>
        </div>
    
    {% include 'layouts/header.html' %}
    {% block content %}{% endblock %}
    {% include 'layouts/footer.html'%}

    {% block script %}
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js" data-turbolinks-eval="false" ></script> 
    {% endblock %}
</body>
</html>