{% load static %}
<footer class="footer-component">
  <div class="main col-md-10">
    <div class="contain-logo">
       <a href="#">
          <img src="{% static "images/logoBlancNom.jpg" %}" />
       </a>
    </div>
      <nav class="nav-footer">
        <ul>
          <li>
            <a href="">Accueil</a>
          </li>
          <li>
            <a href="">Galerie</a>
          </li>
          <li>
            <a href="">Actualité</a>
          </li>
          <li>
            <a href="">Devinci Climbing Contest</a>
          </li>
          <li>
            <a href="">Nos membres</a>
          </li>
          <li>
            <a href="">merchandising</a>
          </li>
        </ul>
      </nav>
      <span></span>
      <div class="under-footer">
       <div>
          <p>
              <a>Mentions légales</a>
          </p>
          <p>Copyright © Leoclimb, 2020</p>
       </div>
       <div class="contact">
         <p>leoclimbpulv@gmail.com</p>
         <ul id="reseaux">
           <li>
             <a href="https://www.instagram.com/leoclimb/" target="_blank"><i class="fab fa-instagram"></i></a>
           </li>
           <li>
             <a href="https://www.facebook.com/LeoClimbPULV" target="_blank"><i class="fab fa-facebook-f"></i></a>
           </li>
           <li>
             <a href="https://www.instagram.com/leoclimb_squad/" target="_blank"><i class="fab fa-instagram"></i></a>
           </li>
         </ul>
       </div>
      </div>
  </div>
</footer>