{% load static %}
<footer class="footer-component">
  <div class="main col-md-10">
    <div class="contain-logo">
       <a href="#">
          <img src="{% static "images/leoclimb-logo-nom.jpg" %}"/>
       </a>
    </div>
      <nav class="nav-footer">
        <ul>
          <li>
            <a href="{% url 'home'%}">Accueil</a>
          </li>
          <li>
            <a href="{% url 'galerie'%}">Galerie</a>
          </li>
          <li>
            <a href="{% url 'dcc' %}">Devinci Climbing Contest</a>
          </li>
          <li>
            <a href="{% url 'menbres' %}">Notre Bureau</a>
          </li>
           <li>
            <a href="{% url 'menbres' %}">Palmarès</a>
          </li>
          <li>
            <a href="{% url 'actualites' %}">Actualités</a>
          </li>
          <li>
            <a href="{% url 'merchandising' %}">Merchandising</a>
          </li>
        </ul>
      </nav>
      <span></span>
      <div class="under-footer">
       <div class="mentions">
          <p>
              <a href="{% url 'mentions' %}">Mentions légales</a>
          </p>
       </div>
       <div class="polo">
          <a href="https://impsdc.fr" target="_blank">
            <h4>Paul Santamaria &copy 2021</h4>
          </a>
       </div>
       <div class="contact">
         <p>leoclimb@devinci.fr</p>
         <ul id="reseaux">
           <li>
             <a href="https://www.instagram.com/leoclimb/" target="_blank"><i class="fab fa-instagram"></i></a>
           </li>
           <li>
             <a href="https://www.facebook.com/LeoClimbPULV" target="_blank"><i class="fab fa-facebook-f"></i></a>
           </li>
           <li>
             <a href="https://www.instagram.com/leoclimb_squad/" target="_blank"><i class="fab fa-instagram"></i></a>
           </li>
         </ul>
       </div>
      </div>
  </div>
</footer>