{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Leoclimb - Actualite de l'association universitaire d'escalade{% endblock %}
{% block description %}Consulter l'actualité de Léoclimb association d'escalade du pôle Léonard de vinci à la Défense{% endblock %}
{% block content %}
<section class="intro-basic-component">
    <div class="container">
        <h1 class="title">Le blog de Leoclimb</h1>
    </div>
</section>
<section class="actualite-component">
    {% for post in obj %}
    <div class="single-article">
        <div class="wrapper container">
            <div class="wrapper-item-blog">
                <div class="contain-image"> 
                    <img src="{{ MEDIA_URL }}{{ post.image }}" alt="{{post.image}}"  id="open"/>
                    <p class="more">
                        Cliquer sur l'image pour mieux voir
                    </p>
                </div>
                <div class="contain-description">
                    <h2 class="blog-title">{{post.title}}</h2>
                    <div class="wrapper-title-blog">
                        <img src="{% static '/ic/date.svg'%}" alt="leoclimnb-date-blog" />
                        <span>Publié le </span>
                        <p>{{post.date}}</p>
                    </div>
                    <p>{{ post.main}}</p>
                </div>        
            </div>
            <span class="separateur"></span>
          <div class="modal-wrapper">
            <div class="modal-image">
                <div class="close">
                    <span id="close">&times;</span>
                </div>
                <img alt='{{post.title}}' id="modal-content"/>
                <p class="caption">{{post.title}}</p>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}