{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Leoclimb - Nos galeries photos{% endblock %}
{% block description %}Consulter les photos de Leoclimb{% endblock %}
{% block content %}
  <section class="galerie-component">
    <h1 class="title white">Galerie de Leoclimb</h1>
        <div class="container photos">
          <div class="row align-items-stretch evenement-wrapper-component">
            {% for galerie in obj %}
              <div class="grid-item">
                <a href="{% url 'evenement' titre=galerie.titre %}" class="d-block photo-item" >
                  <img src="{{MEDIA_URL}}{{galerie.galerieimage_set.first.image}}" alt="{{galerie.titre}}" loading="lazy"/>
                  <strong>
                    <p class="text-center text-white">{{ galerie.titre }}</p>
                  </strong>
                </a>
              <br>
            </div>
            {% endfor %}
          </div>
        </div>
  </section>
{% endblock %}