{% extends "layouts/base.html" %} {%block bodycss %}inscription-page{% endblock %} {% load static %} {% block content %}
<section class="intro-basic-component">
  <div class="container">
    <h1 class="title">Inscription Devinci Climbing Contest</h1>
  </div>
</section>
<section class="inscription-component">
  <div class="container">
    <div class="intro">
      <p>{% lorem 1 b random %}</p>
    </div>
    <form action="{% url 'createInscription' %}" method='POST'>
    {% csrf_token %}
      <div class="contain-form">
        <div>
          <label class="form-label" for="nom">Nom</label>
          <input type="nom" id="nom" name="nom" maxlength='100' required/>
        </div>
        <div>
          <label class="form-label" for="prenom">Prénom</label>
          <input type="text" id="prenom" name="prenom" maxlength='100' required/>
        </div>
        <div>
          <label class="form-label" for="ecole">Ecole</label>
          <input type="text" id="ecole" name="ecole" maxlength='100' required/>
        </div>
        <div class="select">
          <label class="form-label form-label-select" for="tshirt">Taille de t-shirt</label>
          <select id="tshirt" name="tshirt" required >
            <option>S</option>
            <option>M</option>
            <option>XL</option>
          </select>
        </div>
        <div class="select question">
          <label class="form-label form-label-select" for="question"
            >Comment avez-vous entendu parler du contest ?
          </label>
          <select id="question" name="question" required >
            <option>Reseaux</option>
            <option>Asso de votre école</option>
            <option>Entourage</option>
            <option>Autres</option>
          </select>
        </div>
        <div class="submit">
          <input  class="main-btn-component" type="submit" value="Envoyer" />
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}