{% extends "layouts/base.html" %} {%block bodycss %}inscription-page{% endblock %} {% load static %} {% block content %}
 {% for tqt in  obj%}
  {% if obj.active %}
<section class="intro-basic-component">
  <div class="container">
  {{obj}}
    <h1 class="title">{{obj.titre}} {{obj.date}}</h1>
  </div>
</section>
<section class="inscription-component">
  <div class="container">
    <div class="intro">
      <p>{{ obj.description }}</p>
    </div>
    {% if messages %}
        <div class="msg">
            {% for message in messages %}
                <p  {% if message.tags %} class=" {{message.tags}} " {% endif %}> {{ message }} </p>
            {% endfor %}
        </div>
    {% endif %}
    <form action="{% url 'createInscription' %}" method='POST'>
    {% csrf_token %}
      <div class="contain-form">
        <div>
          <label class="form-label" for="nom">Nom</label>
          <input type="text" id="nom" name="nom" maxlength='70' required/>
        </div>
        <div>
          <label class="form-label" for="prenom">Prénom</label>
          <input type="text" id="prenom" name="prenom" maxlength='70' required/>
        </div>
        <div>
          <label class="form-label" for="ecole">Ecole</label>
          <input type="text" id="ecole" name="ecole" maxlength='70' required/>
        </div>
        <div class="select">
          <label class="form-label form-label-select" for="tshirt">Taille de t-shirt</label>
          <select id="tshirt" name="tshirt" required >
            <option>S</option>
            <option>M</option>
            <option>XL</option>
          </select>
        </div>
        <div class="select question">
          <label class="form-label form-label-select" for="question"
            >Comment avez-vous entendu parler du contest ?
          </label>
          <select id="question" name="question" required >
            <option>Reseaux</option>
            <option>Asso de votre école</option>
            <option>Entourage</option>
            <option>Autres</option>
          </select>
        </div>
        <div class="submit">
          <input  class="main-btn-component" type="submit" value="Envoyer" />
        </div>
      </div>
    </form>
  </div>
</section>
{% else %}
<section class="disable">
  <p>Inscription non disponible pour le moment</p>
  <a href="/" class="main-btn-component">
    Retour à l'accueil
  </a>
</section>
{% endif %}
{% endfor %}
{% endblock %}c