{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<section class="intro-basic-component">
    <div class="container">
        <h1 class="title">Mentions légales de Leoclimb</h1>
    </div>
</section> 
<section class="mentions-component">
    <div class="container">
        <p class="first">
            Conformément aux dispositions de l'article 6 III 1° de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, nous vous informons que :
            Le présent site est la propriété de <strong>Leoclimb<stong>.
        </p>
        <ul>
            <li>
                <p>Webmaster du site : <a href="https://www.linkedin.com/in/paul-santamaria-b62636174/" target="_blank">Paul Santamaria</a>
            </li>
            <li>
                <p>Directeur de publication : <a href="https://www.linkedin.com/in/aur%C3%A9lien-grenet-de-b%C3%A9chillon-7b184317b/" target="_blank">Aurélien Grenet--de Béchillon</a>
            </li>
            <li>
                <p>Courrier électronique : leoclimbpulv@gmail.com</p>
            </li>
              <li>
                <p>Hebergeur: AWS</p>
            </li>
        </ul>
        <div class="main">
            <h2>CONDITION D'UTILISATION</h2>
            <h3>Préambule</h3>
            <p>Les utilisateurs ne peuvent bénéficier des services qui leur sont proposés sur le site que sous réserve de l’acceptation des présentes conditions générales.
                L'utilisateur du site reconnaît avoir pris connaissance des présentes conditions d'utilisation et s'engage à les respecter. 
                L'utilisateur reconnaît disposer de la compétence et des moyens nécessaires pour accéder et utiliser le site.</p>
            <h3>Object</h3>
            <p>Les présentes ont pour objet de fixer les conditions d’utilisation du site web accessible à l’adresse https://leoclimb.fr</p>
            <h3>Propriété intellectuelle et contrefaçons</h3>
            <p>Leoclimb est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.<br>

                Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de Leoclimb.<br>

                Toute exploitation non autorisée du site ou d’un quelconque élément qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.<p>
            <h3>Cookies</h3>
            <p>L'utilisateur est informé que, lors de ses visites sur le site, un cookie peut s'installer automatiquement sur son logiciel de navigation.
            Les cookies enregistrent certaines informations qui sont stockées dans la mémoire du disque de l’utilisateur.<br>
            En aucun cas, les cookies ne contiennent d’information confidentielle mais ils permettent de garder en mémoire.</p>
            <p>Leoclimb - Tous droits réservés</p>
        </div>  
    </div>  
</section>
{% endblock %}