{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Leoclimb - Merchandising{% endblock %}
{% block description %}Découvrez les collections de leoclimb, le merchandising de l'association d'escalade du pole leonard de vinci{% endblock %}
{% block content %}
<section class="intro-basic-component">
    <div class="container">
        <h1 class="title">Merchandising de Leoclimb</h1>
    </div>
</section> 
<section class="merchandising-component">
  <div class="container">
    
    <h2 class="subtitle">Colletion 2019-2020</h2>
    <div class="wrapper row pb-5">
      <div class="col-md-3">
        <div class="card">
          <div class="view overlay">
            <img src="{% static "images/collections/tshirtDVCC2.jpg" %}"  class="card-img-top" alt="TSHIRT DVCC2"/>
            <div class="mask rgba-white-slight"></div>
          </div>
          <div class="card-body text-center">
            <h3>T-shirt</h3>
            <h4 class="font-weight-bold blue-text">
              <strong>Devinci Climbing Contest</strong>
            </h4>
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>
{% endblock %}