{% extends "layouts/base.html" %}
{% load poll_extras %}
{% load static %}
{% block title %}Leoclimb - Merchandising{% endblock %}
{% block description %}Découvrez les collections de leoclimb, le merchandising de l'association d'escalade du pole leonard de vinci{% endblock %}
{% block content %}
<section class="intro-basic-component">
    <div class="container">
        <h1 class="title">Merchandising de Leoclimb</h1>
    </div>
</section> 
<section class="merchandising-component">
  <div class="container">
  {% for marchendising  in obj %}
    <h2 class="subtitle">{{marchendising.titre}}</h2>
      <div class="wrapper row pb-5">
      {% for img in marchendising.merchandisingimage_set.all %}
         <div class="col-md-3">
          <div class="card">
            <div class="view overlay">
              <img src="{{MEDIA_URL}}{{img.image}}"  class="card-img-top" alt="collection Leoclimb"/>
              <div class="mask rgba-white-slight"></div>
            </div>
            <div class="card-body text-center">
              <h3>{{img.model}}</h3>
              <h4 class="font-weight-bold blue-text">
                <strong>{{img.titre}}</strong>
              </h4>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>  
    {% endfor %}
  </div>
</section>
{% endblock %}