{% extends "layouts/base.html" %}
{% load poll_extras %}
{% load static %}
{% block title %}Leoclimb - Nos Palmares{% endblock %}
{% block description %}Consulter les palamres de nos membres dans divers compétition d'escalade{% endblock %}
{% block content %}
<section class="intro-basic-component">
    <div class="container">
        <h1 class="title">Les palmarès de Leoclimb</h1>
    </div>
</section> 
<section class="palmares-component">
    <div class="container">
        {% for palmares in obj %}
        <div class="wrapper-palmares{% if forloop.counter0|divisibleby:2 %} {% else %} inverse {% endif %}col-md-12">
           <div class="main-content" >
                <h2 class="title-palmares">
                    {{ palmares.titre}}  
                </h2>
                <p class="date">Effectué en {{ palmares.date|date:"F Y"}}</p>
                <p>
                </p>
                {% for membre in palmares.membre_set.all|orderbyplace %}
                <div class="single-menber-palmares">
                    <p class="name">
                        {{ membre.nom }} :
                    </p>
                    <p class="winning">    
                        {{ membre.place }} 
                    </p>
                </div>
                {% endfor %}
           </div>
           <div class="main-image">
                <img src="{{ MEDIA_URL }}{{ palmares.image }}" alt="{{ palmares.titre}}" />
           </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}